body {
    color: azure;
}

img {
    height: 100%;
    width: 100%;
}

.billed_id {
    border: 2px solid white;
}

.navbar {
    z-index: 500;
    overflow: hidden;
    background-color: #333;
    font-family: 'Tajawal', sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    z-index: 500;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 500;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 500;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


html {
    min-height: 200%;
    font-family: 'Tajawal', sans-serif;
    background: linear-gradient(#bdc3c7, #2c3e50);

}

#designmig {
    position: absolute;
    z-index: 3000;
    display: flex;
    height: 100%;
}

#left_door {
    position: absolute;
    z-index: 99999;
    display: flex;
}

.anim_left_door {
    animation-name: doer_venstre;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes doer_venstre {
    from {
        left: 0%;
    }
    to {
        left: -100%;
        display: none;
    }
}

#right_door {
    position: absolute;
    right: 0%;
    z-index: 999999;
    display: flex;
}

.anim_right_door {
    animation-name: doer_hoejre;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes doer_hoejre {
    0% {
        right: 0%;
        opacity: 1
    }
    99% {
        right: -99%;
        opacity: 1;
    }
    100% {
        right: -100%;
        opacity: 0;
    }
}

#cvommig .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#cvommig .column {
    flex-basis: 400px;
    flex-grow: 1;
    z-index: 100;

}

#cvommig .billed_id {
    left: px;
    bottom: px;
    position: relative;
    z-index: 100;
}

#cvommig .billed_idt2 {
    left: px;
    bottom: px;
    position: relative;
    z-index: 100;
    transform: scale(0.8)
}

#cvommig .billedlille {
    left: px;
    bottom: px;
    position: relative;
    z-index: 100;
    transform: scale(0.4)
}
